* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(circle at top, #d600ca 0%, #a600b8 12%, #150038 40%, black 100%);
  position: relative;
  overflow: hidden;

  .container-md {
    height: 100vh;

    h1 {
      font-size: 6rem;
      position: relative;
      text-shadow: 4px 11px 16px black;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.3) 20%, transparent 50%, rgba(255, 255, 255, 0.3) 80%, white 100%);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;

      }
    }

    // .row {
    //   position: relative;

    //   &::before {
    //     content: "";
    //     width: 100vw;
    //     height: 100vw;
    //     position: absolute;
    //     border-radius: 50%;
    //     bottom: -50%;
    //     z-index: -1;
    //     background-color: purple;
    //     opacity: 20%;
    //   }
  }

  .counter-box {
    background-color: rgba(147, 26, 158, 0.7);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: black;
      transform: translateX(-1px);
    }

    .counter {
      z-index: 5;
      position: relative;
    }
  }

  p:nth-last-child(1) {
    @media (min-width:577px) {
      max-width: 50%;
    }

  }

  .bg-circle {

    width: 100vw;
    height: 100vw;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    background-image: radial-gradient(circle at top, #4c006d 0%, #360058 12%, black 60%);
    top: 50%;
    opacity: 80%;
  }

}